<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Justin Slack" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./styles/common.css" />
    <link rel="stylesheet" href="./styles/homepage.css" />

    <!-- Primary Meta Tags -->
    <title>Meta Tags — Preview, Edit and Generate</title>
    <meta name="title" content="Should you still use Photoshop for UI work?">
    <meta name="description" content="The days of using Photoshop for UI work are long gone. Try these laternatoives instead.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://should-i-use-photoshop.netlify.com/">
    <meta property="og:title" content="Should you still use Photoshop for UI work?">
    <meta property="og:description" content="The days of using Photoshop for UI work are long gone. Try these laternatoives instead.">
    <meta property="og:image" content="https://should-i-use-photoshop.netlify.com/assets/preview-large.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://should-i-use-photoshop.netlify.com/">
    <meta property="twitter:title" content="Should you still use Photoshop for UI work?">
    <meta property="twitter:description" content="The days of using Photoshop for UI work are long gone. Try these laternatoives instead.">
    <meta property="twitter:image" content="https://should-i-use-photoshop.netlify.com/assets/preview-large.png">

  </head>
  <body>
    {{ content }}
    <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js', { scope: '/' }).then(function(reg) {
        console.log('Registration succeeded. Scope is ' + reg.scope);
      }).catch(function(error) {
        console.log('Registration failed with ' + error);
      });
    };
    </script>
  </body>
</html>
