<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Justin Slack" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./styles/common.css" />
    <link rel="stylesheet" href="./styles/homepage.css" />
  </head>
  <body>
    {{ content }}
    <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js', { scope: '/' }).then(function(reg) {
        console.log('Registration succeeded. Scope is ' + reg.scope);
      }).catch(function(error) {
        console.log('Registration failed with ' + error);
      });
    };
    </script>
  </body>
</html>
