@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand Regular'), local('Quicksand-Regular'),
      url('/fonts/Quicksand-Regular.woff2') format('woff2'),
      url('/fonts/Quicksand-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
	font-display: swap;
}

:root {
	--blue:#00384c;
	--base: #3e4a6d;
	--accent: #d60057;
	--yellow: #e6d300;
	--background: #008ecc;
	--font-family: "Quicksand", "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

::selection {
  color: white;
  background-color: brown;
}

::-moz-selection {
  color: white;
  background-color: brown;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  color: #394655;
  background: #fffef7;
}

.container {
  margin: 40px 32%;
  blockquote {
    margin: 16px 0;
    padding: 0 1em;
    color: brown;
    border-left: 0.25em solid;
  }
}

a {
  text-decoration: none;
  color: brown;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    margin: 32px 14%;
  }
}
